.main .row {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 4em;
	margin: 8em;
}

.main .row .card {
	text-align: center;
}

.main .center {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
